@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

body{
    font-family: "Hind Siliguri", sans-serif;
}

.slider{
    height: auto;
    margin: auto;
    overflow: hidden;
    width: 100%;
    position: relative;
    max-width: 1270px;
}
.slider .slider-tracker{
    animation: scroll 40s linear infinite;  
    display: flex;
    width: calc(300px * 15);
    
    padding: 20px 0px;
    gap: 15px;
}
.slider .slide{
    height: 410px;
    width: 300px;
    margin: 0 25px;
    
}
@keyframes scroll{
    100%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(300px * -15));
    }
}

